.select-group__more-btn {
    background-color: white;
    border-radius: 50%;
    --size: 2.5rem;
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--color-gray-inputBorder);
    transition: border 0.25 ease-out;
}

.select-group__more-btn:hover {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-weight: 600;
}