.mySplideImage {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.img-gradient {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.img-gradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.8) 56.25%);
}

.splide__arrow svg {
    fill: white !important;
    height: 1.7vw !important;
    width: 1.7vw !important;
}

.splide__arrow {
    background: none;
}

.sliderTextContainer {
    position: absolute;
    text-align: left;
    color: white;
    left: 5%;
    bottom: 13%;
    z-index: 1;
}

.sliderTextContainerHeader {
    /*font-size: 4vw;*/
    font-weight: 700;
    letter-spacing: 10px;
    width: 70%;
    height: auto;
}

.sliderTextContainerBody {
    width: 55%;
    height: auto;
}


