.mySplideImage {
    object-fit: cover;
    height: 605px;
    width: 100%;
    max-width: 100%;
}

.img-gradient {
    position: relative;
    object-fit: cover;
    height: 605px;
    max-width: 100%;
}

.img-gradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 605px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.8) 56.25%);
}

.hero-slider .splide__arrow svg {
    fill: white !important;
    height: 1.7vw !important;
    width: 1.7vw !important;
}

.hero-slider .splide__arrow {
    background: none;
}

.sliderTextContainer {
    position: absolute;
    /*text-align: left;*/
    color: white;
    left: 5%;
    bottom: 18%;
    z-index: 1;
}

@media screen {

}

.sliderTextContainerHeader {
    width: 70%;
    height: auto;
}

.sliderTextContainerBody {
    width: 55%;
    height: auto;
}

.scrollDownBox {
    top: auto !important;
    bottom: 10%;
}


