

.event-grid {
    display: grid;
    grid-template-columns: 73% 21.2%;
    column-gap: var(--page-margin);
}


/*.left-grid {
    border-right: 2px solid #CCCBCC;
}*/

.right-grid {
    border-left: 2px solid #CCCBCC;
}
.signUpEvent{
    font-size: 16px;
    color : #262526;
    /*make it bold*/

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    /*make it centre*/
    text-align: center;
}
.event-img {
    width: 100%;
    height: 30rem;
    position: relative;
    margin-bottom: 4em;
}
.event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .event-grid {
        grid-template-columns: auto;
    }
}
