.event-card {
    position: relative;
    color: var(--color-black);
}

.event-card--small {
    text-transform: uppercase;
}

.event-card--small .event-card__datetime {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -8rem);
    text-align: center;
}

.event-card__date {
    color: var(--color-primary);
}

.event-card__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-card__body {
    width: calc(27em);
    padding: 3em 1em 1em 1em;
    position: relative;
}

.event-card__body::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 1px;
    background-color: var(--color-gray-light);
    top: 3em;
    bottom: 3em;
}

.event-card__heading {
    height: 5em;
    text-decoration: none !important;
}

.event-card__image {
    width: 100%;
    height: 25em;
    object-fit: cover;
}



img {
    transition: filter 0.25s ease-in-out;
}

.past {
    filter: grayscale(100%);

}

.past:hover {
    filter: grayscale(0%);
}

.upcoming {
    filter: grayscale(0%);
}