.event-card {
    position: relative;
}


/* Hover effects*/
.event-card:hover .event-card__scaleHover {
    transform: scale(1.1);
}

.event-card--past:hover .event-card__image {
    filter: grayscale(0%);
}

.event-card--past:hover .event-card__date {
    color: var(--color-primary);
}

.event-card__scaleHover {
    transition: transform 0.25s ease-out;
}

.event-card {
    color: var(--color-black)
}

.event-card__time {
    color: var(--color-gray-dark);
}

.event-card--odd {
    grid-column: 2;
}

.event-card--even {
    grid-column: 1;
}

.event-card__datetime {
    position: absolute;
    width: 100%;
    height: 100%;
}

.event-card--odd .event-card__datetime {
    left: -100%;
    text-align: right;
}

.event-card--even .event-card__datetime {
    right: -100%;
}

.event-card--large .event-card__body {
    position: relative;
}

.event-card--large .event-card__datetime,
.event-card--large .event-card__body {

    --padding: 3em;
    padding: var(--padding);
}

.event-card--odd .event-card__body {
    padding-right: 0;
}

.event-card--even .event-card__body {
    padding-left: 0;
}

.event-card--large .event-card__icon {
    position: absolute;
    z-index: 10;
    top: 50%;
}

.event-card--even .event-card__icon {
    transform: translate(50%, -50%);
    right: 0;
}

.event-card--odd .event-card__icon {
    transform: translate(calc(-50% - var(--padding)), -50%);
}

.event-card--even .event-card__text {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
}

.event-card__textarea {
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto;
}

.event-card__text {
    display: flex;
    overflow-wrap: anywhere;
    flex-direction: column;
    justify-content: space-between;
}

.event-card__paragraph {
    text-align: justify;
}

.event-card--large .event-card__datetime {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
}

.event-card--upcoming .event-card__date {
    color: var(--color-primary);
}

.event-card--past:hover .event-card__date {
    color: var(--color-primary);
}

.event-card__body--even .event-card__text {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
}


.event-card--small {
    text-transform: uppercase;
    width: 23.5vw;
    max-width: 27em;
    --timeline-weight: 4px;
    --timeline-color: black;

}

.event-card--small .event-card__datetime {
    /*position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -8rem);
    text-align: center;*/
    position: relative;
    text-align: center;
    height: 8em;

    margin: 2em 0;
}

.event-card--small .event-card__heading {
    color: var(--color-black);
    height: 5em;
    line-height: 160%;
    
}

.event-card--small .event-card__heading:hover {
    color: var(--color-black);
}

.event-card--small .event-card__datetime::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 150%;
    height: var(--timeline-weight);
    background-color: var(--timeline-color);
}

.event-card--small .event-card__date {
    color: var(--color-primary);
}

.event-card--small .event-card__icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(50% - var(--timeline-weight)));
    z-index: 100;
}

.event-card--small .event-card__body {
    /*width: 27em;*/
    padding: 1rem;
    position: relative;
    margin-top: 3rem;
}

.event-card--small .event-card__body::after {
    
    content: '';
    display: block;
    position: absolute;
    background: #D9D9D9;
    z-index: -100;
    top: 0;
    height: 50%;
    width: 160%;
    
}

.event-card__image {
    --size: 18vw;
    height: var(--size);
    object-fit: cover;
}

.event-card--large .event-card__image-cont {
    width: var(--size);
}

.event-card--large .event-card__image {
    width: 100%
}

.event-card--small .event-card__image {
    width: 100%;
}

.event-card__heading,
.event-card--large .event-card__paragraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/*.event_card__datetime__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

/*
.event-card__datetime__cont::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -70%;
    width: 60%;
    height: 1px;
    background-color: var(--color-gray-light);

}*/

/*.event-card__datetime--even .event-card__datetime__cont::before {
    left: -70%;
}*/


.event-card--odd .event-card__datetime::after,
.event-card--even .event-card__datetime::before {
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    background-color: var(--color-gray-dark);
}

.event-card--odd .event-card__datetime::after {
    grid-column: 3;
    float: right;
}

.event-card--odd .event-card__datetime__cont {
    grid-column: 2;
}

.event-card--even .event-card__datetime::before {
    float: left;
}


.past {
    filter: grayscale(100%);

}

.upcoming {
    filter: grayscale(0%);
}

.event-card__more-btn {
    color: black;
}

@media (max-width: 1387px) {
    .event-card--large .event-card__paragraph {
        -webkit-line-clamp: 2;
    }
}

@media (max-width: 1280px) {
    .event-card--large .event-card__image-cont {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .event-card--large .event-card__text {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .event-card--even .event-card__text {
        grid-row: 2;
    }

    .event-card--even .event-card__image {
        grid-row: 1;
    }

    .event-card--large .event-card__paragraph {
        -webkit-line-clamp: 3;
    }

}

@media (min-width: 1600px) {
    .event-card--large .event-card__paragraph {
        -webkit-line-clamp: 4;
    }
}