.event-card {
    position: relative;
    color: var(--color-black);
}

.event-card--large {
    --row: 1
}

.event-card__datetime--odd {
    grid-column: 1;
}

.event-card__datetime--even {
    grid-column: 2;
}

.event-card__body--odd {
    grid-column: 2;
}

.event-card__body--even {
    grid-column: 1;
}

.event-card--small {
    text-transform: uppercase;
}

.event-card--small .event-card__datetime {
/*    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -8rem);*/
    text-align: center;
}

.event-card--small .event-card__date {
    color: var(--color-primary);
}

.event-card--small .event-card__icon {
    position: absolute;
    left: 40%;
/*    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.event-card--small .event-card__body {
    width: 22em;
    padding: 3em 1em 1em 1em;
    position: relative;
}

.event-card--small .event-card__body::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 1px;
    background-color: var(--color-gray-light);
    top: 3em;
    bottom: 3em;
}

.event-card--small .event-card__heading {
    height: 5em;
}

.event-card__image {
    --size: 23em;
    height: var(--size);
    object-fit: cover;
}

.event-card--small .event-card__image {
    width: 100%;
}


.event-card--large .event-card__image {
    width: var(--size);
}


img {
    transition: filter 0.25s ease-in-out;
}

.past {
    filter: grayscale(100%);

}

.past:hover {
    filter: grayscale(0%);
}

.upcoming {
    filter: grayscale(0%);
}

h4 {
    margin-top: 50px;
}