
.grid-container {
    display: grid;
    grid-template-columns: 36.5% 36.5% 21.2%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;


}
.grid-item-grid-container-3-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-item1 {
    margin-right: 10%;


}
.grid-item2 {
    padding-left: 10%;
    padding-right: 5%;

}
.grid-item3{
    color: #901A1E!important;
    border-left: 2px solid #CCCBCC !important;
    padding-left: 10%;
    margin-bottom: 10%;
    font-size: 18px;

}
.grid item3-3{

    font-size: 16px;
    color: #262526!important;
}
.submit{
    background: #901A1E !important;
    border: #901A1E !important;
    color: white !important;
    margin-left: 75%;
    margin-right: 2%;
    Margin-top: 5%;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 7.5%;
    padding-right: 7.5%;


}
.form-group-contact{
    margin-top: 5%;
    margin-bottom: 5%;

}
.row-Contact{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    padding-right: 5%;


}
.form-control{

    margin-top: 2.5%;
    margin-bottom: 2.5%;

}
.address{
    color: #901A1E!important;
}
.address2{
    font-size: 16px;
    color: #262526!important;

}

.rounded-circle{

    border: 2px solid #f1f1f1;
}
.group2-name{

    color: #262526!important;
    font-size: 18px;


}
.group3-title{
    color: #901A1E!important;
    font-size: 12px;


}
.group3-email{
    color: #747681!important;
    font-size: 12px;
    text-decoration: underline;

}
.group3-phone{
    color: #737477!important;
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 5%;

}






/*for different screen size*/
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .grid-item2 {
        padding-left: 0;
        padding-right: 10%;

    }

    .grid-item3 {
        border-left: 0px solid #CCCBCC !important;
        padding: 0%;
        font-size: 18px;
    }

    .row-Contact {
        grid-template-columns: auto;
    }

    .submit {
        margin-left: 0%;
        margin-right: 0%;
        Margin-top: 5%;
        text-transform: uppercase;
        font-size: 13px;
    }
}
