.registerButton{
    background: #901A1E !important;
    border: #901A1E !important;
    color: white !important;
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem 4rem;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-60%, -60%);


}