.sections-cont {
    --gap: 2em;
    margin: 0 var(--gap);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--gap);
    align-items: center;
    justify-items: center;
}

.section__line {
    background-color: var(--color-gray-light);
    width: 100%;
    height: 2px;
    max-width: 15em;
}

.section-cont {
    grid-column: 2;
    width: 100%;
    border: 1px solid black;
}

.section__line--odd {
    grid-column: 1;
}

.section__line--even {
    grid-column: 3;
}

