.image-input {
    height: 20em;
    background-color: white;
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    color: var(--color-gray-dark);
    overflow: hidden;
}

.image-input__input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.image-input button {
    color: var(--color-gray-dark);
    background-color: #D9D9D9;
    border: none;
    border-radius: 0.375rem;
    padding: .25em 1em;
}

.image-input__preview {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.image-input__hint {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}