.footerCamp {
  background-color: #646464;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.text {
  color: #fff;
}
.bg-dark {
  background-color: #646464 !important;
}
.row {
  BACKGROUND-COLOR: #646464;
  padding: 100px;

    margin: 0;

}
.paragraph2{
  color: #fff;
    font-size: 12px;
}

.list-unstyled {
  position: relative;
}


.watermark{
  position: absolute;
  left: -24px;
  bottom: -200px;
  z-index: 0;
}
.fa {
  color: #ff5900;

}
.text{
  padding-bottom: 50px;
}
.textJoin{
  color: #fff;
}
.privacy{
  color: #fff;
  padding-left: 850px;
  padding-top: 125px;
  font-size: 12px;

}
