.footerCamp {
  background-color: #646464;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.textHeading {
  color: #fff;
}
.bg-dark {
  background-color: #646464 !important;
}
.row {
  BACKGROUND-COLOR: #646464;
  padding-top: 100px;
  padding-bottom: 0px;

    margin: 0;

}
.paragraph2{
  color: #fff;
    font-size: 12px;
}

.list-unstyled {
  position: relative;
}
.watermarked {
  position: relative;
}


.watermark:after{
  content: "";
  position: absolute;
  display: block;
    width: 100%;

}
.fa {
  color: #ff5900;

}
.textHeading {
  padding-bottom: 50px;
}
.textJoin{
  color: #fff;
}
.privacy{
  color: #fff;
  font-size: 12px;
}
