.when {
  color: #901A1E;
  font-size: 18px;
  weight: 600;
  align: center;
  letter:0.3px;
  text-align: center;
  font-weight: bold;
}

.wear {
  color: #901A1E;
  font-size: 18px;
  weight: 600;
  align: center;
  letter:0.3px;
    text-align: center;
  font-weight: bold;
}

.who {
  color: #901A1E;
  font-size: 18px;

  weight: 600;
  align: center;
  letter:0.3px;
  text-align: center;
  font-weight: bold;

}

.date {
  color: #262526;
  font-size: 18px;
  weight: 600;
  align: center;
  letter:0.3px;
  font-weight: bold;
}

.researchersTitle {
  color: #901A1E;
  font-size: 12px;

  font-weight: bold;

}

.location {
  color: #262526;
  font-size: 18px;
  font-weight: bold;
}

.externalTitle {
  color: #901A1E;
  font-size: 12px;

  font-weight: bold;

}

.line {
  border-bottom: 2px solid #CCCBCC !important;
  /*border bottem margin 10%*/



  border-top: 2px solid #CCCBCC !important;
  width: 80%;
  margin-left: 10%;
  margin-top: 30%;
  margin-bottom: 30%;
  padding-top: 10%;

}

.researchersTell {
  color: #747681;
  padding-top: 0%;
  font-size: 12px;

}

.externalEmail {
  color: #747681;
  font-size: 12px;
  margin-bottom: 5%;

}

.researchersEmail {
  color: #747681;
  font-size: 12px;
  margin-bottom: 5%;


}

.imgResearcher {

  /*border-radius: 50%;*/
}

.imgResearch {
  float: left;
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin-left: 0;
  margin-right: 20%;
  margin-top: 50%;
  margin-bottom: -30%;
  outline: 1px solid #f1f1f1;

}

.externalResearch {
  float: right;
  width: 70%;
  height: 70%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  outline: 1px solid #f1f1f1;
}

.Researchers {
  display: grid;
  /*//give the size to each grid item*/

  grid-template-columns: 1fr;
  /*grid space between each grid item size*/
  justify-items: left;
  gap: 0.25%;
    /*//gap between each grid item*/
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  margin-top: 10%;
  margin-right: 70%;

}

.researcher_img_cont {
  width: 5vw;
  height: 5vw;

}

.externalResearchers {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5%;
  padding: 5%;
}

.tableResercher {
  width: 50%;
  height: 50%;
  margin-left: 70%;
  margin-bottom: -30%;
  margin-top: 0;
  padding: 10%;
}

.resercherName {
  color: #262526;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.externalresercherName {
  color: #262526;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.researchersTell {
  padding-top: -5%;
}
.researchersTitle{
  margin-top: -7%;
}
.researchersEmail{
  margin-top: -7%;

}
.externalEmail {
  padding-top: 5%;
}
.externalresercherName {
  padding-top: 5%;
}
.externalTitle {
  margin-top: -7%;
}
.externalEmail {
  margin-top: -7%;
}