.arrow-circle {
    background: #901A1E;
    border-radius: 35px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90px;
    text-decoration: none;
}

.arrow-button {
    color: white;
}

.arrow-button-text {
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}