


.rowEventHero:after {
    content: "";
    display: table;
    clear: both;
}


.leftEventHero {
    float: left;
    width: 18%;
}

.rightEventHero {
    float: right;
    width: 82%;
}
.EventHero {
    font-size: 28px;
}
.EventHeroName {
    font-size: 48px;
}
.imgFluid {
    width: 100%;
    height: auto;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .leftEventHero, .rightEventHero {
        width: 100%;
    }
}



