/*.splidetrack {
    border-top: 2px solid black;
    display: flex;
    width: fit-content;
    margin-top: 10em;
}*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid > * {
    margin: 5em 0;
    border: 1px solid black;
}